[submodule "fetch_gazebo"]
	path = ros/fetch_gazebo
	url = git@github.com:fetchrobotics/fetch_gazebo.git
[submodule "fetch_msgs"]
	path = ros/fetch_msgs
	url = git@github.com:fetchrobotics/fetch_msgs.git
[submodule "fetch_ros"]
	path = ros/fetch_ros
	url = git@github.com:fetchrobotics/fetch_ros.git
[submodule "power_msgs"]
	path = ros/power_msgs
	url = git@github.com:fetchrobotics/power_msgs.git
[submodule "ros_tcp_endpoint"]
	path = ros/ros_tcp_endpoint
	url = git@github.com:Unity-Technologies/ROS-TCP-Endpoint.git
