[submodule "fetch_msgs"]
	branch = melodic-devel
	path = ros/fetch_msgs
	url = git@github.com:fetchrobotics/fetch_msgs.git
[submodule "moveit_msgs"]
	branch = melodic-devel
	path = ros/moveit_msgs
	url = git@github.com:ros-planning/moveit_msgs.git
[submodule "power_msgs"]
	branch = melodic-devel
	path = ros/power_msgs
	url = git@github.com:fetchrobotics/power_msgs.git
[submodule "ros_tcp_endpoint"]
	path = ros/ros_tcp_endpoint
	url = git@github.com:Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "ros/jsk_recognition"]
	path = ros/jsk_recognition
	url = git@github.com:jsk-ros-pkg/jsk_recognition.git
[submodule "geometry2"]
	path = ros/geometry2
	url = git@github.com:ros/geometry2.git
