set bell-style none
set completion-ignore-case on
set keyseq-timeout 10
set show-all-if-ambiguous on
set show-all-if-unmodified on

set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

set keymap vi-command
"\C-l" clear-screen

set keymap vi-insert
"\C-l" clear-screen
