<launch>
	<param name="robot_description" textfile="$(find fetch_description)/robots/fetch.urdf" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>
	<node name="rviz" pkg="rviz" output="screen" type="rviz"></node>
</launch>
