<launch>
    <include file="$(find fetch_vr)/launch/aruco_marker_publisher.launch" />

    <!--
    <include file="$(find fetch_vr)/launch/moveit_move_group.launch" />
    <include file="$(find fetch_vr)/launch/moveit_planning_scene.launch" />
    -->

    <include file="$(find fetch_vr)/launch/unity_tcp_endpoint.launch" />
</launch>
