sysinfo.txt
ExportedObj/
crashlytics-build.properties
/Assets/Resources/ROSConnectionPrefab.prefab
/Assets/msgbrowser_settings.asset
/[Uu]ser[Ss]ettings/
/[Tt]emp/
/[Rr]ecordings/
/[Oo]bj/
/[Mm]emoryCaptures/
/[Ll]ogs/
/[Ll]ibrary/
/[Bb]uilds/
/[Bb]uild/
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/[Ss]treamingAssets/aa/*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
*.VC.db
*.userprefs
*.user
*.unityproj
*.unitypackage
*.tmp
*.svd
*.suo
*.sln
*.pidb.meta
*.pidb
*.pdb.meta
*.pdb
*.opendb
*.mdb.meta
*.mdb
*.csproj
*.booproj
*.app
*.apk
*.aab
.vsconfig
.vscode/
.vs/
.gradle/
.consulo/